* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

body {
	/*padding-bottom: 1000px;*/
	/*text-align: center;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*color: #ff983d;*/ /*use this color for texts*/
	/*border-top: 2px solid #c76c1c; */ /*use this color for bars and borders*/
}

/*general css*/
button.barsbuttons, nav.barsbuttons{
	background-color: #c76c1c;
	color: #fff;
	/*opacity: 0.3;*/
}

h5, h4, h3, h2, h1{
	color: #ff983d;
	font-weight: bold;
}

/*for sticky social*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 0.2em;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/*end of sticky social*/

/*for landing page*/
/* landing page orig*/
#landing-page {
	background-image: url("../images/landing-page-bg.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	opacity: 0.7;
}

/*landing page for jumbotron
#landing-page {
	background-image: url("../images/landing-page-bg.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	opacity: 0.7;
	text-align: bottom;
	align-items: bottom;
	justify-content: bottom;
	margin: 0 auto;
	padding: 0;
	position: relative;
}*/

#landing-page-text {
	/*height: 25vh;*/ /*change to padding bottom 2em*/
	font-family: 'Open Sans', sans-serif;
	color: #ff983d;
	/*justify-content: center;*/
	padding-bottom: 2em;
}


/* for about us page */
#about-us {
	align-items: center;
	margin: 0 auto;

}

#about-us img {
	background-color: #ccc;
	height: 33.33vh;
	width: 80%;
}

#about-us h3 {
	border-top: 2px solid #c76c1c;
	padding-top: 2rem;
	margin-bottom: 1rem;
}

#about-us p {
	margin-bottom: 2rem;
}

/*for the shop page*/

#shop-page {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	align-items: top;
}

#shop-page-bgimg {
	background-image: url("../images/shop-page-bgimg.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 40vh;
	align-items: center;
	justify-content: center;
	border-bottom: 1em #c76c1c solid;
	margin-bottom: 0.5em;
}

#shop-page-bgimg h1 {
	position: relative;
	left: 3.5em;
	text-decoration-line: underline;
}

table th {
	padding: 0.5rem 0;
}

#accordion li {
	text-align: left;
	margin-left: 0.5em;
}

.card-img-body {
	height: 60vh;
	border: 2px solid #c76c1c;
	height: 100px;
	box-sizing: border-box;
}

/*for services*/

#services-page {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	align-items: top;
}

#services-page-bgimg {
	background-image: url("../images/services-page-bgimg.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 40vh;
	align-items: center;
	justify-content: center;
	border-bottom: 1em #c76c1c solid;
	margin-bottom: 0.5em;
}

#services-page-bgimg h1 {
	position: relative;
	bottom: 1.3em;
	text-decoration-line: underline;
}

/*for contact page*/
#contact-page {
	height: 100vh;
	padding-top: 5em;
	/*align-items: center;*/
	/*justify-content: center;*/
}
/*google maps*/
#google-maps {
	width: 100%;
	height: 30vh;
}

/*form*/
div textarea {
	width: 100%;
	height: 6em;
}

/*for footer*/
#footer {
  position: fixed;
  /*left: 0;*/
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  /*text-align: center;*/
}

/* put media to control the sizes of the text and layout due to screensize*/

/*for desktops*/
/*@media only screen and (max-width: 760px) {
  #nav-bar{
    color: black;
  }
}*/

/*for tablets*/
/*
@media only screen and (max-width: 620px) {

  #landing-page h1 {
  	display: block;
  }

  #landing-page h1 span{
  	display: block;
  	font-size: 0.7em;
  }

  #landing-page h2 span{
  	display: none;
  }

  #landing-page-text{
  	padding-bottom: 5em;
  }
  #testing {
  	display: none;
  }
}
*/

