* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

body {
	/*padding-bottom: 1000px;*/
	/*text-align: center;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/**/
	/*color: #ff983d;*/ /*use this color for texts*/
	/*border-top: 2px solid #c76c1c; */ /*use this color for bars and borders*/
}

/*for sticky social*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 0.2em;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/*end of sticky social*/



/*for borders nav bar button bg color*/
#nav-bar, button.bgbtn, .footer {
	background: linear-gradient(to right, #c76c1c, #9c5516, #703d10);
	/*background-image: linear-gradient(to right, red , yellow);*/
}

/*for h1 h2 highlight color*/
h1, h2, h3, h4, h5, .highlight {
	color: #ff983d;
}

/*landing page*/

#landing-page {
	background-image: url("../images/landing-page-bg.jpg");
	background-color: #c76c1c;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	/*width: 100%;*/
	opacity: 0.7;
	display: flex;
	align-items: flex-end;
	text-align: center;
}

div#landing-page-text{
	padding-bottom: 5em;
}

#landing-page h1{
	color: #ff983d;
	font-weight: bold;
	margin-bottom: 0;
	text-shadow: 2px 2px #fff;
}

#landing-page p {
	color: #fff;
}

#landing-page a {
	color: #ff983d;
	text-decoration: none;
}

/*for testimonials*/
/* Style the container with a rounded border, grey background and some padding and margin */
.testimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0px;
}

/* Clear floats after containers */
.testimonial::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 90px;
}

/* Increase the font-size of a span element */
.testimonial span {
  font-size: 20px;
  margin: 15px;
}

.testimonial-text {
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	border: 2px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	text-shadow: 2px 2px #fff;
	font-size: 1.5em;
}

/*about us page*/

#about-us-page {
	height: 100vh;
	text-align: center;
	padding-top: 4em;
}

#about-us-page img {
	width: 100%;
}

#about-us-page h2{
	color: #ff983d;
	font-weight: bold;
	border-top: 2px solid #c76c1c;
	margin-top: 1em;
}

/*shop page*/
#shop-page {
	text-align: center;
}

#shop-page li{
	list-style: none;
}

#shop-page li a{
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	border: 1px #000 solid;
	background: #c76c1c;
	margin: 5px 0;
}

#shop-page ul.categories{
	
	margin-top: 1em;
	border-radius: 5px;
}

#shop-page-bgimg {
	background-image: url("../images/shop-page-bgimg.jpg");
	background-color: #c76c1c;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 40vh;
	align-items: center;
	justify-content: center;
}

#shop-page-bgimg h1 {
	position: relative;
	right: 1em;
	text-decoration-line: underline;
	text-shadow: 2px 2px #ff983d;
}

#accordion {
	margin: auto;
}

.shop-text {
	font-size: 0.7em;

}

#shop-page h5 {
	font-size: 1.5em;

}

/*#shop-page-item {
	margin: 0 auto;

}*/





/*services page*/


#services-page-bgimg {
	background: url(../images/services-page-bgimg.jpg);
	background-color: #c76c1c;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 40vh;
	justify-content: center;
	border-bottom: 3px solid #c76c1c;
	margin-bottom: 1em;
}

#services-page h1 {
	/*position: relative;
	bottom: 1.5em;*/
	padding-top: 1em;
	/*padding-bottom: 2em;*/
	text-decoration-line: underline;
	text-shadow: 2px 2px #ff983d;
}

#accordion-services {
	margin: 0 auto;
	margin-bottom: 5em;
	font-size: 0.7em;
}

/*contact page*/
#contact-page {
	padding-top: 5em; 
	height: 100vh;
}

#contact-form {
	padding: 0 20px;
	margin-bottom: 4em;
	
}

#contact-form h2 {
	text-align: center;
}

#contact-page label {
	margin-bottom: 20px;
}

#google-maps {
	height: 30vh;
	width: 100%;
}

div textarea {
	width: 100%;
	height: 6em;
}

#contact-page button {
	margin-bottom: 10px;
}

/*footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

.footer p{
	margin-bottom: 0;
}

/*media queries*/

/*on screen that 660px or less */
@media only screen and (max-width: 768px) {
	/*a.d-block {
		float: left;
		margin-left: 1em!important;
		padding: 0 5px;
	}*/

	#services-page h1 {
		font-size: 2em;
		margin-top: 7em;
	}

	#services-page h5 {
		font-size: 15px;
	}

	#shop-page-bgimg h1 {
		position: relative;
		top: 1em; 
	}
}

@media only screen and (max-width: 600px) {
	#shop-page-bgimg h1 {
		position: relative;
		left: 0.3em;
		font-size: 50px; 
	}

	a.d-block {
		float: none;
		/*display: block!important;*/
	}

	.testimonial span {
		/*font-size: 0.8em;*/
		display: block;
	}

	.icon-bar a {
		padding: 0;
	}

	#services-page h1 {
		margin-top: 4em;
	}
}